{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Motherducker app</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body class="grey darken-3">
    <nav class="deep-purple accent-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{% url 'home' %}" class="brand-logo"><img
                    src="{% static "images/ducky-inthewater.png" %}" alt="motherducker logo"></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container deep-purple-text text-lighten-4">
            <br><br>
            <h1 class="header center">Motherducker</h1>
            <div class="row center">
                <img src="https://media.giphy.com/media/rtRflhLVzbNWU/giphy.gif" width="100px" height="auto" />
            </div>
            <div class="row center">
                <div class="col s3"></div>
                <form method="post" class="col s6 center">
                    <div class="row">
                        {% csrf_token %}
                        <span class="amber-text text-darken-4">{{ wrong_password }}</span><br>
                        <div class="input-field col s6">
                            <input id="username" type="text" name="username" class="deep-purple-text text-lighten-4">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="password" type="password" name="password"
                                class="deep-purple-text text-lighten-4">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <input type="submit" value="Login" id="Login-button" class="btn-large amber darken-4">
                    <a href="{% url 'register' %}" id="register-button" class="btn-large grey darken-4">Register</a>
                </form>
                <div class="col s3"></div>
            </div>
        </div>
    </div>

    <footer class="page-footer grey darken-4">
        <div class="footer-copyright">
            <div class="container">
                Made by AAVE
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
</body>

</html>