{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Motherducker Connections</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body class="grey darken-3 installation">
    <nav class="deep-purple accent-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{% url 'home' %}" class="brand-logo"><img
                    src="{% static "images/ducky-inthewater.png" %}" alt="motherducker logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'installation' %}">Installation</a></li>
                <li><a href="{% url 'connections' %}">Connections</a></li>
                <li class="account">
                    <a href="#"><i class="material-icons">account_circle</i> <span class="usr">{{username}}</span></a>
                </li>
                <li>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="Logout" id="logout">
                        <a href="{% url 'home' %}">Logout</a>
                    </form>
                </li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="{% url 'installation' %}">Installation</a></li>
                <li><a href="{% url 'connections' %}">Connections</a></li>
                <li>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="Logout" id="logout">
                        <a href="{% url 'home' %}">Logout</a>
                    </form>
                </li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container deep-purple-text text-lighten-4">
            <br><br>
            <h1 class="header">Installation</h1>
            <h4 class="black-text">Convert Digispark to Motherducker</h4>
            <div class="row">
                <h5>1. Download and unzip the installation folder</h5>
                <a href="{% url 'digistump_installation' %}" id="download-button"
                    class="btn-large amber darken-4">Download for Windows x64</a>
                <h5>2. Execute the INSTALL.bat file</h5>
                <p>You can find this file in the unzipped <i>arduino-cli_0.6.0_Windows_64bit</i> folder</p>
                <h5>3. Install the drivers when the installation window appears</h5>
                <h5>4. After installation of the drivers continue in the terminal window</h5>
                <p>Type any key to continue the install</p>
                <h5>5. Plug in (or plug out and in again) the Digispark USB</h5>
                <p>When the following message appears <i>"> Please plug in the device ..."</i></p>
                <h5 class="amber-text text-darken-4">That's it! Your Motherducker device is now ready to use.</h5>
                <br><br><br>
            </div>
        </div>
    </div>

    <footer class="page-footer grey darken-4">
        <div class="footer-copyright">
            <div class="container">
                Made by AAVE
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
</body>

</html>